<?php
/**
 * Database connection settings
 * 
 * @see https://idiorm.readthedocs.org/en/latest/configuration.html
 * @var array
 */
$mt_db_configure = array(
	'connection_string' => 'mysql:host=HOST;dbname=DBNAME',
	'username' => 'USERNAME',
	'password' => 'PASSWORD',
	'driver_options' => array(PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES utf8')	
);
/**
 * JSON encode options. Use a '|' to seperate multiple options.
 * 
 * @see http://php.net/manual/en/json.constants.php
 * @var int
 */
$mt_json_encode_options = JSON_UNESCAPED_SLASHES | JSON_UNESCAPED_UNICODE | JSON_PRETTY_PRINT;